
.DS_Store
1/bin_class.png
1/bin_class2.jpg
1/confusion_matrix.jpg
1/dt.jpg
1/Lesson01.html
1/Lesson01.ipynb
1/multi_class.png
1/pr-curve.png
1/prec_vs_recall.png
1/roc-curve.png
course_project/course_project_test.csv
course_project/course_project_train.csv
lesson01.mp4
training_project_data.csv
1/.ipynb_checkpoints/Lesson01-checkpoint.ipynb
2/Lesson02.html
2/Lesson02.ipynb
2/normal_distr.png
3/balancing.png
3/cross_val.png
3/knn.png
3/Lesson03.html
3/Lesson03.ipynb
3/log_reg.png
3/rf.jpg
3/svm.png
course_project/.ipynb_checkpoints/course project-checkpoint.ipynb
course_project/.ipynb_checkpoints/guilch-checkpoint.ipynb
course_project/guilch.ipynb
lesson02.mp4
lesson03.mp4
4/bias.png
4/Lesson04.html
4/Lesson04.ipynb
4/overfitting.svg
lesson04.mp4
