
.DS_Store
1/bin_class.png
1/bin_class2.jpg
1/confusion_matrix.jpg
1/dt.jpg
1/Lesson01.html
1/Lesson01.ipynb
1/multi_class.png
1/pr-curve.png
1/prec_vs_recall.png
1/roc-curve.png
course_project/course_project_test.csv
course_project/course_project_train.csv
lesson01.mp4
training_project_data.csv
